@{
    ViewData["Title"] = "Home Page";
}

@model UserModel

<ul>
    <li><a asp-controller="Home" asp-action="AddUser">Add New User</a></li>
    <li><a asp-controller="Home" asp-action="SearchUser">Find User By Id</a></li>
</ul>
